body{
  background: #9feed1;
}
table, th, td {
    border: 1px solid #F60C86;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    margin-left: auto;
    margin-right: auto;
  }
  table{
    width: 90%;
  }
 td {
    padding: .4rem;
  }
  th{
    padding: .3rem;

  }
tr{
    color: black;
    font-weight: 600;
    font-size: 1.1rem;

}
tr:hover{
    background-color: #f8f3d4;
}

h2{
  text-align: center;
  text-transform: uppercase;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 800;
}
.button {
    background-color: #f6416c; /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Titillium Web', sans-serif;
    border-radius: 0.3rem;
    font-weight: 700;
    text-transform: uppercase;

  }
.container-button{
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
@media screen and (max-width: 900px) {
  table {
      width:100%;
  }
  thead {
      display: none;
  }
  tr:nth-of-type(2n) {
      background-color: inherit;
  }
  tr td:first-child {
      background: #f0f0f0;
      font-weight:bold;
      font-size:1.3em;
  }
  tbody td {
      display: block;
      text-align:center;
  }
  tbody td:before {
      content: attr(data-th);
      display: block;
      text-align:center;
  }
}